<section class="ui raised segment">
    <h3 class="ui header">Famous Irish Landmarks</h3>
    <div class="ui grid">

        <article class="eighteen wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Details</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                </thead>
                <tbody>
                {{#each landmarks}}
                    <tr>
                        <td> {{name}} </td>


                        <td><div class="ui item"><a href="/landmark/viewLandmarkDetails/{{_id}}" class="ui icon button"><i class="file alternate outline icon"></i>
                        </a>
                        </td>



                        <td><div class="ui item"><a href="/landmark/deleteLandmark/{{_id}}" class="ui icon button"><i class="icon trash"></i>
                        </a>
                        </td>
                        <td><div class="ui item"><a href="/landmark/showLandmarkSettings/{{_id}}" class="ui icon button"><i class="edit icon"></i>
                        </a>
                        </td>

                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>

