
<tbody>
{{#each landmarks}}
<div class="ui segment">
    <img class="ui small left floated image" src="/images/wireframe/text-image.png">
    <p>{{name}}</p>
    <img class="ui small right floated image" src="/images/wireframe/text-image.png">
    <p>{{description}}</p>
    <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
</div>
{{/each}}
</tbody>