<section class="ui raised segment">
    <div class="ui grid ">
        <div class="ui ten wide column">
            <div class="ui stacked fluid form segment">
                <form action="/landmark" method="POST">
                    <h3 class="ui header">Create your Landmark</h3>

                        <div class="six wide field">

                            <label>Name</label>
                            <input placeholder="name" type="text" name="name"></div>
                        <div class="field">
                            <label>Description</label>

                            <textarea placeholder="Description" type="text" name="description"></textarea></div>
                        <div class="six wide field">
                            <label>Category</label>
                            <input placeholder="Category" type="text" name="category"></div></div>


    <button class="ui blue submit button">Submit</button>
                </form>
            </div>

        <aside class="ui five wide column">
            <img src="images/causeway.jpg" class="ui medium image">
        </aside>
    </div>
</section>