<nav class="ui inverted menu">
    <header class="header item"><a href="/"> View </a></header>
    <div class="right menu">
        <a id="settings" class= "item" href="/settings"> Settings</a>
        <a class="item" href="/poilist"> My Points of Interest</a>
        <a class="item" href="/logout"> Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>