<nav class="ui inverted menu">
    <header class="header item"> Famous Irish Landmarks  </header>
    <div class="right menu">
        <a class="item" href="/signup"> Signup</a>
        <a class="item" href="/login">  Login</a>
        <a class="item" href="/loginadmin"> Admin</a>
    </div>
</nav>
