<nav class="ui inverted menu">
    <header class="header item"> Famous Irish Landmarks - My Landmarks </header>
    <div class="right menu">
        <a class="item" href="/logout"> Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>
