{{> mainmenu _id="editlandmark"}}
<section class="ui raised segment">
    <div class="ui grid ">
        <div class="ui ten wide column">
            <div class="ui stacked fluid form segment">
                <form action="/editlandmark/{{landmark._id}}" method="POST" >
                    <h3 class="ui header">Manage your Landmark</h3>

                    <div class="six wide field">

                        <label>Name</label>
                        <input value="{{landmark.name}}" type="text" name="name">
                    <div class="field">
                        <label>Description</label>

                        <input value="{{landmark.description}}" type="text" name="description">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>




                    <button class="ui blue submit button">Submit</button>
                </form>
            </div>

        </div>
</section>

