{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/main.jpg" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> View our list of Famous Irish Landmarks</header>
            <p> A comprehensive listing of the Emerald Isle's most famous sights. </p>
            {{> error }}
        </article>
    </div>
</section>
