<section class="ui raised segment">
    <div class="ui grid">
        <aside class="ui six wide column">
            <img src="images/dolmen.jpg" class="ui medium image">
        </aside>
    </div>
</section>